/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*
section, div, h1, img {
	border: 2px solid red;
  }

header {
	height: 30%;
}

nav {
	display: inline-block;
	width: 83%;
}

nav a {
	display: inline-block;
	width: 15%;
	text-align: center;
}

.title_section {
	display: inline-block;
	width: 100%;
}
.title_section h1 {
	display: inline-block;
	font-size: 60px;
	width: 30%;
	text-align: center;
	box-sizing: content-box;
	padding-bottom: 20%;
}
.title_section div {
	display: inline-block;
	;
}
.information .upper_info {
	display: inline-block;
	width: 100%;
}
.information .upper_info h5{
	display: inline-block;
	width: 24%;
}
.information #Features-container{
	display: block;
	width: 24%;
}


.middle-img {
	display: inline-block;
	width: 80%;
	margin-left: 3%;
	margin-right: 3%;
}

footer {
	width: 100%;
	text-align: center;
}


/*section {
	margin: 20px;
	padding: 20px;
	border: solid 1px black;
}
div.col-2-item {
	display: inline-block;
	width: 48%;
}

div.col-2-item {
	display: inline-block;
	width: 47%;
	margin: 1%;
}
*/
header div, header nav, header img {
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
}
header nav {
	display: inline-block;
	width: 80%;
	vertical-align: center;
}

